@import "../../../config/global.css";

:root {
  --container-margin-top-and-bottom: {
    margin-top: calc(16px + var(--large-header-height));
    margin-bottom: 16px;
    @media (--small) {
      margin-bottom: 16px;
      margin-top: calc(16px + var(--small-header-height));
    }
  }
}

.contentInner {
  @apply --content-width;
  @apply --filter-blur;

  &:before {
    @apply --user-simple-information-card-height;
  }
  @apply --container-margin-top-and-bottom;
  background-color: var(--primary-background-color);
  border-radius: var(--content-border-radius);

  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: var(--page-base-font-size);
}

.container {
  @apply --content-width;
  @apply --content-padding;
  margin-bottom: var(--footer-height);
}

.queueAnimate {
  @apply --queue-animate;
}