@import "../../../config/global.css";

:root {
  --container-margin-top-and-bottom: {
    margin-top: calc(var(--border-margin) + var(--large-header-height));
    margin-bottom: var(--border-margin);
    @media (--small) {
      margin-bottom: var(--border-margin);
      margin-top: calc(var(--border-margin) + var(--small-header-height));
    }
  }
}

.contentInner {
  @apply --content-width;

  @apply --container-margin-top-and-bottom;
  margin-bottom: 0;
  background-color: var(--primary-background-color);
  border-top-left-radius: var(--content-border-radius);
  border-top-right-radius: var(--content-border-radius);

  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: var(--page-base-font-size);
}

.container {
  @apply --content-width;
  @apply --content-padding;
}

.queueAnimate {
  @apply --queue-animate;
}