@import "../../../common";

.contentInner {
  margin: 0 auto;
  width: @large-content-width;
  @media (max-width: 768px) {
    width: @small-content-width;
  }
}

.container {
  background-color: @white;
  min-height: 100vh;
  padding: 16px @large-padding-width;
  @media (max-width: 768px) {
    padding: 10px @small-padding-width;
  }
}
