:root {
  /**
   * General
   */
  @custom-media --small (max-width: 768px);
  --background-image-url: resolve('genji.png');
  --filter-blur: {
    position: relative;
    z-index: 1;
    &:before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: blur(40px);
      background: var(--background-image-url) 0 / cover fixed;
    }
  };

  /**
   * Color
   */
  --primary-color: #5c5c5c;
  --primary-background-color: rgb(249, 249, 249);
  --highlight-font-color: rgb(249, 249, 249);
  --highlight-background-color: rgb(0, 0, 0, 0.9);
  --transparent: transparent;

  /**
   * Fonts
   */
  --primary-font: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  --code-font: 'Fira Code', 'Consolas', sans-serif;

  /**
   * Header
   */
  --large-header-height: 60px;
  --small-header-height: 40px;
  --header-height: {
    height: var(--large-header-height);
    @media (--small) {
      height: var(--small-header-height);
    };
  };

  --header-line-height: {
    line-height: 60px;
    @media (--small) {
      line-height: 40px;
    };
  };

  --header-padding: {
    padding-left: 0;
    padding-right: 0;
    @media (--small) {
      padding-left: 10px;
      padding-right: 10px;
    }
  };

  /**
   * Content
   */
  --border-margin: 16px;
  --content-width: {
    margin-left: auto;
    margin-right: auto;
    width: 740px;
    @media (--small) {
      width: 95%;
    };
  };

  --content-padding-value-large: 30px;
  --content-padding-value-small: 20px;
  --content-padding: {
    padding-left: var(--content-padding-value-large);
    padding-right: var(--content-padding-value-large);
    @media (--small) {
      padding-left: var(--content-padding-value-small);
      padding-right: var(--content-padding-value-small);
    }
  };

  --user-information-card-height: {
    height: 500px;
    @media (--small) {
      height: 400px;
    }
  };

  --user-simple-information-card-height: {
    margin-top: 16px;
    height: 90px;
    @media (--small) {
      height: 80px;
    }
  };

  --user-information-avatar-size: {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  };

  --user-simple-information-avatar-size: {
    @apply --user-information-avatar-size;
  };

  --content-border-radius: 5px;

  /**
   * Footer
   */
  --footer-height: 100px;

  /**
   * Code Highlight
   */
  --highlight-color: {
    & :global(.keyword) {
      color: #83c1d1;
    }

    & :global(.literal) {
      color: #83c1d1;
    }

    & :global(.string) {
      color: #e6db74;
    }

    & :global(.number) {
      color: #ae81ff;
    }

    & :global(.params) {
      color: #fd971f;
    }

    & :global(.built_in) {
      color: #a6e22e;
    }

    & :global(.comment) {
      color: color(var(--highlight-font-color) alpha(0.6));
    }

    & :global(.attr) {
      color: #fb9a9f;
    }
  };
  --highlight-padding: {
    padding: 10px 20px;
  };
  --highlight-code: {
    word-break: break-all;
    background: color(var(--primary-color) alpha(0.15));
    border-radius: 3px;
    text-shadow: 0 1px color(var(--primary-background-color) alpha(0.6));
    padding: 0 0.3em;
  };
  --highlight-margin: {
    margin-left: calc(0 - var(--content-padding-value-large));
    margin-right: calc(0 - var(--content-padding-value-large));
    @media (--small) {
      margin-left: calc(0 - var(--content-padding-value-small));
      margin-right: calc(0 - var(--content-padding-value-small));
    }
  };
  --highlight-font-size: calc(1rem * 0.9);

  /**
   * Article
   */
  --article-paragraph-space-height: 20px;
  --article-list: {
    list-style: none;
    padding-left: 40px;
    margin-top: 14px;
    margin-bottom: 14px;
  };
  --article-head-title-h2-to-h6: {
    padding-top: 10px;
    margin: 20px 0 15px;
  };
  --article-blockquote: {
    padding-left: 15px;
    border-left: 4px solid var(--primary-color);
  };
  --article-code: {
    font-family: var(--code-font);
    word-break: break-all;
    word-wrap: break-word;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
  };
  --article-eof: {
    margin: 20px auto 40px;
    width: 20%;
  };

  --article-content: {
    & p {
      margin-bottom: var(--article-paragraph-space-height);
      & img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        transition: all 500ms;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 5px gray;
        }
      }
    }

    & a {
      text-decoration: underline;
    }

    & ul {
      @apply --article-list;
      & li {
        list-style: circle;
      }
    }

    & ol {
      @apply --article-list;
      & li {
        list-style: decimal;
      }
    }

    & dl {
      @apply --article-list;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @apply --article-head-title-h2-to-h6;
    }

    & blockquote {
      @apply --article-blockquote;
    }

    & pre {
      @apply --article-code;
    }

    & :global(.pullquote) {
      width: 50%;
    }

    & :global(.right) {
      float: right;
      margin-left: 10px;
      margin-right: 5px;
    }

    & :global(.left) {
      float: left;
      margin-left: 5px;
      margin-right: 10px;
    }

    & code {
      display: inline-block;
      @apply --article-code;
      @apply --highlight-code;
      font-size: var(--highlight-font-size);
    }

    & :global(.highlight) {
      background-color: var(--highlight-background-color);
      color: var(--highlight-font-color);
      overflow-x: scroll;
      font-size: var(--highlight-font-size);
      @apply --highlight-padding;
      @apply --highlight-margin;
      & :global(.gutter) {
        text-align: right;
        padding-right: 8px;
        border-right: 1px solid gray;
      }

      & :global(.marked) {
        background-color: color(var(--highlight-font-color) alpha(10%));
      }

      & :global(.code) {
        vertical-align: top;
        padding-left: 8px;
        @apply --highlight-color;
      }

      & figcaption > * {
        margin: 0 5px;
      }
    }

    & > table {
      width: 100%;
    }
  };

  /**
   * Router
   */
  --page-leading-font-size: 2em;
  --page-leading: {
    text-align: center;
    font-size: var(--page-leading-font-size);
    margin-bottom: 16px;
  };
  --page-base-font-size: 1rem;
  --page-list-item-title: {
    font-size: 1.2em;
  };

  /**
   * Util
   */
  --util-content-center: {
    display: flex;
    justify-content: center;
    align-items: center;
  };

  /**
   * Animate
   */
  --queue-animate-leaving: {
    position: absolute;
    width: 100%;
  };

  --queue-animate: {
    position: relative;
    & :global(.queue-anim-leaving) {
      @apply --queue-animate-leaving;
    }
  };
  --user-information-animate-delay: 500ms;
}


