// background picture
@background-picture: url('../assets/background.jpg') 0 / cover fixed;

// header height
@large-header-height: 60px;
@small-header-height: 40px;

// content width
@large-content-width: 700px;
@small-content-width: 95%;

// color
@white: rgb(249, 249, 249);

// information card
@large-information-card-height: 200px;
@small-information-card-height: 150px;