@import "../../config/global.css";

.articleContent {
  @apply --article-content;
}

.postTitle {
  text-align: center;
}

.postMeta {
  margin: 3px 0 30px 0;
  text-align: center;
}

.readMore {
  text-align: center;
  margin: 10px 0;
}

.eof {
  display: block;
  @apply --article-eof;
  height: 0;
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
}