@import '../../config/global.css';

.routerView {
  @apply --queue-animate;
  font-size: 1rem;
}

.queueAnimate {
  @apply --queue-animate;
}

.pagination {
  margin-top: calc(var(--large-header-height) / 3);
  z-index: 3;
  @apply --util-content-center;
}

.year {
  font-size: 2em;
}