@import "../../../common";

.footer {
  padding: 5px 20px;
  height: 60px;
  text-align: center;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  background-color: @white;

  .content-width;
  min-height: 150px;
  margin-bottom: 16px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(40px);
    background: @background-picture;
  }
}