@import "../../../config/global.css";

:root {
  --fixed-on-the-end: {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.footer {
  @apply --content-width;
  @apply --util-content-center;
  @apply --content-padding;
  background-color: var(--primary-background-color);
  border-bottom-left-radius: var(--content-border-radius);
  border-bottom-right-radius: var(--content-border-radius);
  margin-bottom: var(--border-margin);

  flex-flow: column nowrap;
  height: var(--footer-height);
}