// background picture
@background-picture: url('assets/background.jpg') 0 / cover fixed;

// header height
@large-header-height: 60px;
@small-header-height: 40px;

// content width
@large-content-width: 740px;
@small-content-width: 95%;

// content padding left and right width
@large-padding-width: 30px;
@small-padding-width: 20px;

// color
@white: rgb(249, 249, 249);
@primary-color: #5c5c5c;
@normal: rgba(0, 0, 0, 0.65);
// information card
@large-information-card-height: 200px;
@small-information-card-height: 150px;