@import "../../config/global.css";

:root {
  --pagination-on-the-right: {
    display: flex;
    justify-content: flex-end;
  }
}

.pagination {
  @apply --pagination-on-the-right;
}

.queueAnimate {
  @apply --queue-animate;
}

.tagsGroup {
  margin: 5px 0;
}